body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  background: #f5f5f5;
  line-height: 1.42857143;
  color: #333;
  margin: 0;
  padding: 0;
  background-image: url('/images/crossword.png');
  background-repeat: repeat;
}

#container {
  min-height: 510px;
  padding: 50px;
  padding-top: 30px;
  background-color: rgba(255, 255, 255, 0.40);
  background: #fff;
}

h1, h2, p, ul, li {
  font-family: Helvetica, Arial, sans-serif;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

.btn-outline-success {
  background-color: $standOutColor;
  border: 1px solid $whiteColor;
  color: white;

  @media #{$mobile} {
    width: 100%;
  }

  &:hover {
    background-color: $whiteColor;
    border: 1px solid $standOutColor;
    color: $standOutColor;
  }
}

header {
  background-color: $headerColor;
  padding: 0;
  margin-top: 0;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 20px;

  .navbar-brand {
    color: #fff !important;
  }
  .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 2px dotted white;
    color: white;
    border-radius: 0;

    @media #{$tablet, $mobile} {
      width: 100% !important;
    }

    &:hover, &:active, &:focus {
      background-color: transparent;
      color: white;
    }

    &:focus {
      border-bottom: 2px dotted $standOutColor;
    }

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    #fff;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    #fff;
      opacity:  1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    #fff;
      opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color:    #fff;
    }
    &::-ms-input-placeholder { /* Microsoft Edge */
      color:    #fff;
    }
  }
}

.header span {
  font-size: 30px;
}

header li a {
  color: #FFF !important;
  font-weight: bold;
  text-decoration: none;
  padding: 15px;
  display: inline-block;

  &.active {
   @media #{$desktop} {
    background-color: #ffffff;
    color: $standOutColor !important;
   }


  }

  &:hover {
    @media #{$desktop} {
      background-color: #ffffff;
     }
    color: $standOutColor !important;
  }
}

.nopadding {
    padding: 0;
    margin: 0;
}

.nopadding-mobile {
  @media #{$mobile} {
    padding: 0;
    margin: 0;
  }
}

.padding-right-desktop {
  @media #{$desktop} {
    padding-right: 10px;
}
}

input[type=submit] {
  transition: all .5s;
  transition-property: opacity,box-shadow;
}

footer {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  background-color: $otherColor;
  clear: both;
}

.hidden {
  display: none;
}

.footer-message {
  a, a:visited {
    color: $standOutColor;
  }

  a:hover{
    color: $standOurLighterColor;
    text-decoration: underline;
  }
}
.header-row {
  background-color: $otherColor;
}
.footer-row {
  width: 50%;
  margin: 0 auto;
  padding: 20px 0;
}
.home-mid-row {
  margin-top: 50px;
  text-align: center;
  // font-size: 35px;
}
.center {
  text-align: center;
}
.top-pad {
  padding-top: 40px;
  font-size: 25px;
}
.input-field {
  width: 30%
}
.top-pad p {
  margin: 50px 0;
}
.home-mid-row>p:nth-of-type(-n+2) {
  font-size: 25px;
}
.home-mid-row>p:nth-of-type(3) {
  margin-top: 65px;
  font-size: 18px;
}
.button {
  background: #ffffff;
  border: unset;
}
.image-clickable {
  width: 130px;
}
.home-mid-row form {
  display: inline-block;
}
.input-bar {
  min-width: 500px;
  border: 1px solid black;
}


.pur-but-one,
.pur-but-two,
.pur-but-five,
.pur-but-six,
.pur-but-eight,
.pur-but-nine,
.pur-but-eleven,
.pur-but-twelve
 {
  display: block;
  margin: 50px auto;
  padding: 10px 40px;
  border-radius: 15px;
  background: #03a9f4;
  color: #fff;
}

.pur-but-three,
.pur-but-four,
.pur-but-seven {
  border: unset;
  background: #fff;
}

.pur-but-three img,
.pur-but-four img,
.pur-but-seven img {
  width: 250px;
}

.pur-but-three p,
.pur-but-four p {
  margin-top: 10px;
}

.home-right-list {
  list-style: none;
  margin-top: 20px;
  text-align: center;
}
.home-right-list li{
  font-size: 16px;
  line-height: 35px;
}
.home-right-list>li:nth-of-type(1) {
  color: green;
}
.top-title {
  background: $otherColor;
  width: 100%;
  margin-bottom: 15px;
}
.blue-box {
  border: 1px solid black;
  padding: 10px;
  background: #87cefa;
  text-align: center;
  font-size: 25px;
}
.footer-row {
  font-size: 12px;
}
.footer-row>p {
  text-align: center;
}
.footer-row .line {
  border-bottom: 1px solid black;
  position: relative;
  bottom: 8px;
  width: 15%;
  margin: 0 auto;
}
.grey-box {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 30px;
  font-size: 13px;
  background: $otherColor;
  ul {
    margin-left: -15px;
    position: relative;
    top: 15px;
  }
}
.step {
  display: none
}
.one > div > h4,
.one > div > p,
.two > div > p,
.four > div > div > h4,
.five > div > h4,
.six > div > h4,
.eight > div > p,
.nine > div > p,
.eleven > div > h4,
.twelve > div > p
  {
  font-size: 30px;
}
.home-button {
  margin-top: 45px;
  margin-bottom: -10px;
}
.home-button button {
  display: block;
  margin: 0 auto;
  border: unset;
  background: #f5f5f5;
}

.two > div > select {
  font-size: 30px;
  padding: 10px 8px 10px 14px;
  width: 30%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}


.seven > div > div > h4 {
  font-size: 30px;
}

.ten > div > p {
  margin-top: 150px;
  font-size: 30px;
}

.five > div > h4,
.six > div > h4,
.eleven > div > h4,
 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.Logo {
  width: 350px;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 20%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
img:hover {
  cursor: pointer;
}
button {
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  // box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  background: #00ace6;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #00ace6;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 50%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
.left {
  margin-right: 50px;
}
.right {
  margin-left: 50px;
}
.slidecontainer > span:nth-of-type(1) {
  position: relative;
  top: 50px;
  left: 50px;
  color: #315b7d;
}
.slidecontainer > span:nth-of-type(2) {
  position: relative;
  top: 50px;
  right: 50px;
  color: #315b7d;
}

.slidecontainer > div > span:nth-child(-n+3) {
  color: #00bfff;
}

// @media only screen and (max-width: 400px) {
//   .footer-row {
//     width: unset !important;
//     font-size: 12px !important;
//     color: green;
//   }
// }

// @media (max-width: 400px) {
//   .footer-row {
//     width: unset !important;
//     font-size: 12px !important;
//     color: blue;
//   }
// }
// @media (max-width: 400px) {
@media #{$mobile} {
  #container {
    padding-bottom: 20px !important;
  }
  .top-title {
    margin-bottom: 0 !important;
  }
  .input-bar {
    min-width: 250px !important;
  }
  .two > div > select {
    width: 75% !important;
  }
  .home-right-list{
    padding-left: 0 !important;
  }
  .footer-row {
    width: unset !important;
    font-size: 10px !important;
  }
  .two > div > select {
    width: 100% !important;
  }
  input[type=range] {
    width: 60% !important;
  }
  .home-mid-row>p:nth-of-type(-n+2) {
    font-size: 19px !important;
  }
  .home-mid-row > p:nth-of-type(3) {
    margin-top: 35px !important;
    font-size: 15px !important;
  }
  .image-clickable {
    width: 180px !important;
  }
  .home-mid-row > form > button > p {
    font-size: 20px !important;
  }
  .grey-box {
    padding: 10px !important;
    font-size: 12px !important;
  }
  .grey-box ul {
    top: unset !important;
  }
  .home-right-list li {
    font-size: 13px !important;
    line-height: 25px !important;
  }
}
